:root {
  --clr-neutral: #272D2D;

  --clr-primary: #FDFFFC;

  --clr-accent: #69e9f8;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a,
button {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--clr-neutral);
  color: var(--clr-primary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  background-color: var(--clr-bg-300);
  border-bottom: 1px solid #fff;
}

.title {
  display: flex;
  flex-direction: column;
}

.title > h1 {
  font-size: 1.5rem;
}

.title > span {
  align-self: flex-end;
}

.nav__links {
  display: flex;
  column-gap: 1rem;
}